@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

.logo {
    font-size: 3em;
    user-select: none;
}

.red-letter{
    color:red;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation .btn {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: black;
    font-weight: 500;
    transition: .5s;
    margin-right: 15px;
}

.navigation .btn:hover {
    background: darkgray;
    color: #162938;
}

.container {
    font-size: 2em;
}

.top-container{
    display: flex;
    padding: 0px;
    margin: 0px;
    /* height: 700px; */
}

.left-panel {
    padding: 5.65vw 6.43vw 0px 6.43vw;
    margin-left: -55px;
    background-color: rgba(225, 225, 225, 1);
    text-align: center;
    height: 700px;
}

.left-panel p {
    font-weight: bold;
    line-height: 1.6;
    padding-left: 35px;
    padding-right: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.how-to-pair {
    margin-left: 40px;
    display: flex;
    justify-content: left;
    position: relative;
}

.how-to-pair ion-icon{
    color: red;
    font-size: 2.0em;
    position: absolute; 
    bottom: 0;
}

.how-to-play {
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: bold;
    margin-left: 25px;
    padding: 2.5vw 0px 0px 5vw;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.right-panel {
    flex: 37;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.start-game-btn {
    background-color: #b83933;
    color: white;
    border: none;
    padding: 38px 10px 42px 20px;
    margin-left: 32px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.start-game-btn:hover {
    background-color: #a8544f;
    color: rgb(207, 203, 203);
}

.bottom-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px;
    background-color: #F1F1F1F1;
}

.leaderboards-title{
    height:100px;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 30px;
}

.leaderboards-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 0px 10vw;
    margin-bottom: 50px;
}

.leaderboards-body div {
    background-color: #e1e1e1;
    height: 500px;
    width: 27vw;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 25px;
    margin: 15px 5px;
    border-radius: 30px;
}

@media screen and (max-width: 900px) {
    .start-game-btn {
        margin-right: 32px;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        position: absolute; 
        left: 15px;
    } 

    .navigation {
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .left-panel {
        margin-left: 0px;
    }

    .container {
        display: flex;
        flex-direction: column;
        position: relative;
    }
}

@media screen and (max-width: 640px) {

    .top-container {
        flex-direction: column;
    }

    .left-panel {
        height: 800px;
        /* leave space for game instruction */
    }

    .how-to-pair {
        margin-left:15%;
        margin-right:15%;
    }

    .right-panel {
        margin: 50px 0px;
    }

    .bottom-container {
        position: relative;
    }

    .leaderboards-title {
        width: 100%;
        font-size: 1.1em;
    }

    .leaderboards-body {
        display: flex;
        flex-direction: column;
    }

    .leaderboards-body div {
        height: 250px;
        width: 100%;
    }
}

@media screen and (max-width: 460px) {
    .navigation {
        flex-direction: column;
    }

    .navigation .btn {
        height: 30px;
        margin-top: -10px;
        margin-bottom: 15px;
    }

    .leaderboards-title{
        font-size: 1.1em;
    }
}