@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
.logo {
    font-size: 3em;
    user-select: none;
}

.red-letter{
    color:red;
}

.navigation {
    display: flex;
    justify-content: space-between;
}


.navigation .btn {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: black;
    font-weight: 500;
    margin-left: 20px;
    /* margin-left: 720px; */
    transition: .5s;
}

.navigation .btn:hover {
    background: darkgray;
    color: #162938;
}

.container {
    height: 180vh;
    width: 100vw;
    margin-top: 10vh;
    font-size: 2em;
}
.top-container{
    display: flex;
    padding: 0px;
    margin: 0px;
    height: 90vh;
}


.left-panel {
    padding: 5.65vw 0px 0px 5px;
    padding-left: 6.43vw;
    padding-right: 6.43vw;
    flex: 49;
    background-color: rgba(225, 225, 225, 1);
    text-align: center;
}

.left-panel p {
    font-weight: bold;
    line-height: 1.6;
    padding-left: 35px;
    padding-right: 35px;
    letter-spacing: 5px;
    font-size: 2.5vw;
    text-transform: uppercase;
}

.how-to-pair {
    margin-left: 40px;
    display: flex;
    justify-content: left;
    position: relative;
}

.how-to-pair ion-icon{
    color: red;
    font-size: 5vw;
    position: absolute; 
    bottom: 0;

}
.how-to-play {
    font-family: 'Pixelify Sans', sans-serif;
    font-weight: bold;
    font-size: 2.5vw;
    padding: 2.5vw 0px 0px 5vw;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.right-panel {
    flex: 37;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding-top: 22.150vw; */
}

.start-game-btn {
    background-color: #b83933;
    color: white;
    border: none;
    padding: 38px 10px 42px 20px;
    margin-left: 32px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.start-game-btn:hover {
    background-color: #a8544f;
    color: rgb(207, 203, 203);
}

.bottom-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px;
    margin: 0px;
    height: 90vh;
    background-color: #F1F1F1F1;
}

.leaderboards-title{
    height:15vh;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 30px;
}

.leaderboards-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 0px 5vw;
    margin: 0px;
}

.leaderboards-body div{
    background-color: #e1e1e1;
    height: 70vh;
    width: 27vw;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 25px;
    border-radius: 30px;
}